# ETL

In [106]:
#Importamos los paquete necesarios:
import os
import pandas as pd
import glob ##New package learned
import shutil ##New package learned   
from sqlalchemy import create_engine

# Extract:

In [107]:
def from_xlsx(ventas_file):
    ''' Extrae los datos de un documento XLSX y devuele un DataFrame 
    IN: XLSX 
    OUT: DataFrame
    '''

    return pd.read_excel(ventas_file)

In [108]:
def from_plano(ventas_file):
    ''' Extrae los datos de un documento TXT, con separador "|" y devuele un DataFrame 
    IN: TXT 
    OUT: DataFrame
    '''

    return pd.read_csv(ventas_file, sep='|')

In [109]:
def from_json(ventas_file):
    ''' Extrae los datos de un documento JSON y devuele un DataFrame 
    IN: JSON 
    OUT: DataFrame
    '''

    return pd.read_json(ventas_file)

In [110]:
def from_csv(ventas_file):
    ''' Extrae los datos de un documento CSV y devuele un DataFrame 
    IN: CSV 
    OUT: DataFrame
    '''

    return pd.read_csv(ventas_file)

In [111]:
def extract():
    '''
    Extraer datos de diferentes fuentes y generar un DataFrame conjunto:

    IN: TXT, JSON, XLSX y CSV
    OUT: DataFrame
    '''
    #Definimos un DataFrame que contendrá todos los datos:
    total_sales = pd.DataFrame(columns=["id_venta", "fecha", "cliente", "producto", "precio", "cantidad"])

    #Identificar el formato de datos:
    for file in os.listdir('dirty_data/'):
        
        if file[-5:] == ".xlsx":
            
            xlsx_df = from_xlsx("dirty_data/"+file)
            total_sales = pd.concat([total_sales, xlsx_df], join='inner')
        
        elif file[-4:] == ".txt":

            txt_df = from_plano("dirty_data/"+file)
            total_sales = pd.concat([total_sales, txt_df], join='inner')
        
        elif file[-5:] == ".json":
            
            json_df = from_json("dirty_data/"+file)
            total_sales = pd.concat([total_sales, json_df], join='inner')

        elif file[-4:] == ".csv":
            
            csv_df = from_csv("dirty_data/"+file)
            total_sales = pd.concat([total_sales, csv_df], join='inner')    


    return total_sales #DataFrame total de los 4 archivos diferentes

# Transform:

In [ ]:
def transform(df_2_transform):
    '''
    Limpiar el contenido del DataFrame total para que pueda ser cargado sin errores

    IN: DataFrame, sucio
    OUT: DataFrame, limpio
    '''

    #Transformar todos los valores NaN en "0", para poder ser procesados
    df_clean = df_2_transform.fillna(0)

    #Eliminar "ERROR"
    df_clean.replace('ERROR', 0, inplace=True) ### Se ejecuta sin necesidad de reasignar el DataFrame

    #Corregir el indice total
    #Normalizar columna "cliente"
    #Corregir precios negativos
    #Normalizara columna fecha
        #Diferenciar que tipo de fecha es "XX-..." o "XXXX-..."
    return df_clean

# Load:

# Ejecución:

In [135]:
tester = extract()

tester_cleaned = transform(tester)

tester_cleaned.tail()

/var/folders/2h/vps3xzys1vj_n4wcjx7rptp40000gn/T/ipykernel_1992/916060948.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_sales = pd.concat([total_sales, txt_df], join='inner')
/var/folders/2h/vps3xzys1vj_n4wcjx7rptp40000gn/T/ipykernel_1992/1412102282.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean = df_2_transform.fillna(0)

      id_venta       fecha cliente producto precio  cantidad
9995      9996  2024.06.08    JUAN  Monitor   1200      10.0
9996      9997           0     ana   Cables      0       3.0
9997      9998           0  hicham    Mouse     25       2.0
9998      9999  2024-05-29   Lucia  Monitor    -10       2.0
9999     10000           0  hicham    Mouse   1200       3.0