# **<ins>Cleaning Bank Marketing Campaign Data</ins>**

![Piggy bank](piggy_bank.jpg)

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two-year loan in the United Kingdom is [around 10%](https://www.experian.com/blogs/ask-experian/whats-a-good-interest-rate-for-a-personal-loan/). This might not sound like a lot, but in September 2022 alone UK consumers borrowed [around 拢1.5 billion](https://www.ukfinance.org.uk/system/files/2022-12/Household%20Finance%20Review%202022%20Q3-%20Final.pdf), which would mean approximately 拢300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to ensure it conforms to the specific structure and data types that they specify so that they can then use the cleaned data you provide to set up a PostgreSQL database, which will store this campaign's data and allow data from future campaigns to be easily imported. 

They have supplied you with a csv file called `"bank_marketing.csv"`, which you will need to clean, reformat, and split the data, saving three final csv files. Specifically, the three files should have the names and contents as outlined below:

In [69]:
import pandas as pd
import numpy as np


## `client.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `age` | `integer` | Client's age in years | N/A |
| `job` | `object` | Client's type of job | Change `"."` to `"_"` |
| `marital` | `object` | Client's marital status | N/A |
| `education` | `object` | Client's level of education | Change `"."` to `"_"` and `"unknown"` to `np.NaN` |
| `credit_default` | `bool` | Whether the client's credit is in default | Convert to `boolean` data type:<br> `1` if `"yes"`, otherwise `0` |
| `mortgage` | `bool` | Whether the client has an existing mortgage (housing loan) | Convert to boolean data type:<br> `1` if `"yes"`, otherwise `0` |

In [18]:
f_csv = pd.read_csv("bank_marketing.csv")

client = pd.DataFrame(f_csv, columns=["client_id","age","job","marital","education","credit_default","mortgage"])

#Replazamos el car谩cter "." por el "_" en la columna "job" y "education":
client["job"] = client["job"].str.replace(".","_")
client["education"] = client["education"].str.replace(".","_") ###Grabar a fuego

#Transformamos los datos "unknown" por NaN:
client["education"] = client["education"].replace("unknown",np.nan)

#Generamos una funci贸n lambda para remplazar "yes" por 1, y si no 0:
is_1or0 = lambda x: 1 if x == "yes" else 0

#Transformamos los datos "yes" utilizando la funci贸n lambda:
client["credit_default"] = client["credit_default"].apply(is_1or0) ###Grabar a fuego
client["mortgage"] = client["mortgage"].apply(is_1or0)

client.head()

   client_id  age        job  marital    education  credit_default  mortgage
0          0   56  housemaid  married          NaN               1         0
1          1   57   services  married  high_school               0         0
2          2   37   services  married  high_school               0         1
3          3   40     admin_  married     basic_6y               0         0
4          4   56   services  married  high_school               0         0

## `campaign.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `number_contacts` | `integer` | Number of contact attempts to the client in the current campaign | N/A |
| `contact_duration` | `integer` | Last contact duration in seconds | N/A |
| `previous_campaign_contacts` | `integer` | Number of contact attempts to the client in the previous campaign | N/A |
| `previous_outcome` | `bool` | Outcome of the previous campaign | Convert to boolean data type:<br> `1` if `"success"`, otherwise `0`. |
| `campaign_outcome` | `bool` | Outcome of the current campaign | Convert to boolean data type:<br> `1` if `"yes"`, otherwise `0`. |
| `last_contact_date` | `datetime` | Last date the client was contacted | Create from a combination of `day`, `month`, and a newly created `year` column (which should have a value of `2022`); <br> **Format =** `"YYYY-MM-DD"` |

In [72]:
campaign = pd.DataFrame(f_csv,columns=["client_id","number_contacts","contact_duration","previous_campaign_contacts","previous_outcome","campaign_outcome","year","month","day"])

##Transformamos los datos "success" por 1, si no 0:
campaign["previous_outcome"] = campaign["previous_outcome"].apply(lambda x:1 if x == "success" else 0) ###Utilizaci贸n de funci贸n lambda

#Transformamos los datos "yes" utilizando la funci贸n lambda:
campaign["campaign_outcome"] = campaign["campaign_outcome"].apply(is_1or0)

#Dado que todos los datos de la campa帽a son de 2022, rellenamos la columna "year" con 2022
campaign["year"] = campaign["year"].fillna("2022") ###Grabar a fuego: df.fillna()

#Juntamos las columnas "year" y "month", cambiamos el data type de "day" para a帽adirlo tambi茅n:
campaign["year"] = campaign["year"] + "-" + campaign["month"].str.capitalize() + "-" + campaign["day"].astype(str) ###Grabar a fuego: df.astype()
    #Eliminamos la columna que hemos a帽adido:
campaign = campaign.drop(columns=["month","day"]) ###Grabar a fuego: df.drop()

#Transformamos el tipo de dato de la columna day:
campaign = campaign.rename(columns={"year":"last_contact_date"}) ###Grabar a fuego: df.rename()

campaign.head()

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,last_contact_date
0,0,1,261,0,1,0,2022-May-13
1,1,1,149,0,0,1,2022-May-19
2,2,1,226,0,0,0,2022-May-23
3,3,1,151,0,0,0,2022-May-27
4,4,1,307,0,0,0,2022-May-3


## `economics.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `cons_price_idx` | `float` | Consumer price index (monthly indicator) | N/A |
| `euribor_three_months` | `float` | Euro Interbank Offered Rate (euribor) three-month rate (daily indicator) | N/A |

In [67]:
economics = pd.DataFrame(f_csv,columns=["client_id","cons_price_idx","euribor_three_months"])

economics.head()

   client_id  cons_price_idx  euribor_three_months
0          0          93.994                 4.857
1          1          93.994                 4.857
2          2          93.994                 4.857
3          3          93.994                 4.857
4          4          93.994                 4.857

In [68]:
df = pd.read_csv("bank_marketing.csv")

for col in ["credit_default", "mortgage", "previous_outcome", "campaign_outcome"]:
    print(col)
    print("--------------")
    print(df[col].value_counts())

credit_default
--------------
credit_default
no         32587
unknown     8597
yes            4
Name: count, dtype: int64
mortgage
--------------
mortgage
yes        21576
no         18622
unknown      990
Name: count, dtype: int64
previous_outcome
--------------
previous_outcome
nonexistent    35562
failure         4252
success         1374
Name: count, dtype: int64
campaign_outcome
--------------
campaign_outcome
no     36547
yes     4641
Name: count, dtype: int64

##  El Contexto: La Diferencia entre la Celda y su Contenido

| M茅todo | Analog铆a | Prop贸sito |
| :---: | :---: | :--- |
| **`.replace()`** | **Cambiar la Carta** | Reemplaza el **valor completo** de la celda. Funciona en cualquier tipo de dato (n煤meros, texto, $\text{NaN}$). |
| **`.str.replace()`** | **Editar la Carta** | Reemplaza una **porci贸n de texto dentro del valor** de la celda. Solo funciona en columnas de texto. |